.App {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 1vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

button, input{
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  background-color: #849ffa;
}

.header{
  height: 70px;
  width: 100%;
  text-align: right;
  background: #195aec;
  font-weight: bold;
  text-align: center;
}

.header input {
  margin: 5px;
  background-color:white;
}

.card {
  margin: 50px 8%;
  padding-bottom: 10px;
  width: 33.3%;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-align: center;
  float: left;
}

.card img {
  margin-bottom: 0;
  max-width: 100%;
}

.favoritos {
  margin: 50px 8%;
  padding-bottom: 10px;
  width: 33.3%;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-align: center;
  float: left;
}

.repositorios {
  text-align: center;
  clear: both;
}

.repo-header {
  height: 50px;
  background: #195aec;
}

.repo-content {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
